*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;  
    
  }
  
  
  .box{
     position: absolute;
     top: 100px;
     left: 20%;
      width: 1000px;
      height:620px;
      display: flex;
      box-shadow: 0 11px 20px 0 rgba(69, 83, 55, 0.08); 
     
  }
  
   .left{
    width: 35%;
    background: linear-gradient(to right,#aec97e,#2c4120);
    padding: 30px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: #fff;
  }
  
  .left img{
    border-radius: 5px;
    margin-bottom: 10px;
    width: 200px;
    height:200px;
  }
  
   .left h4{
    margin-bottom: 10px;
    font-size: 25px;
    font-weight:bold;
  }
  
  .left p{
    font-size: 15px;
  }
  
   .right{
    width: 65%;
    background:#fff;
    padding: 30px 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .clg{
    color:#33363e;
    
  }
  
  .info,
  .projects{
    margin-bottom: 25px;
  }
  
   .info h3,
  .projects h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #1e2026;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  
  .a:hover{
    color: blue ;
  }
  
  .info-data,
  .projects-data{
    display: flex;
    justify-content: space-between;
  }
  
   .data{
    width: 45%;
   
  }
  
  .data h4{
      color: #242529;
      margin-bottom: 5px;
      font-size: 19px;
  }
  
   .data p{
    font-size: 15px;
    margin-bottom: 10px;
    color: #3f4348;
  }
  
  
  
  .btn{
    margin-top: 10px;
    color: black;
  }
  
  .footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
  }
  .social-icon {
    color: #fff;
  }
  ul.social-icons {
    margin-top: 10px;
  }
  .social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
  }
  .social-icons a {
    color: #fff;
    text-decoration: none;
  }
  
  .fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
  }
  .fa-linkedin:hover {
    background-color: #0073a4;
  }
  .fa-github {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
  }
  .fa-github:hover {
    background-color: rgb(75, 118, 188);
  } 